*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: Montserrat, sans-serif;
}
.wrapper{
    background-image:linear-gradient(90deg,white 70px,yellow 70px);

}
@media screen and (min-width 1200px){
    .wrapper{
        background-image:linear-gradient(90deg, white 245px, yellow 70px);
    }
}
