.footer{
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding: 10px;
    
}
.footer-social{
    list-style-type: none;
    display: flex;
    
    

}
.footer-menu{
    list-style: none; 
    color:rgb(109, 104, 104);
    display: none;
    
    

}
.footer-social a{
    padding: 3px;
    
    

}
.footer-menu a{
    padding: 10px;
    

}

@media screen and (min-width:768px){
    .footer-menu{
        display: flex;
    }
}